@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif ;

}
html {
  overflow: scroll;
  overflow-x: hidden;
}
body{
  background-color: var(--secondary);
  color: var(--white);
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
*:focus-visible,
*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}
/* :root {
  --primary: #6461C1;
  --secondary:#0B0B0C;
  --blue:#6F6BE5;
  --dark: #000103;
  --white: #ffffff;
  --gray:#ffffff95;
} */